body {
    background: #030334;
    font-family: "Montserrat", sans-serif !important;
}

.title-container {
    position: relative;
    text-align: center;
    background-image: url(personal_images/twisty_road.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.EZDock {
    color: #FFFF;
    margin: 0 auto;
    border: 2px #030334;
    padding: 7.5% 15%;
    background: #030334;
    font-size: 500%;
    font-weight: bolder;
    opacity: 0.8;
    border-radius: 50px;
}

.subheading {
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    padding-top: 400px;
    padding-bottom: 50px;
    font-weight: bolder;
}

.subtext {
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    font-weight: bolder;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 600px;
    gap: 8px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: all 0.15s ease-in-out;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.button-63 {
    margin: 0 auto 600px;
    font-size: 2.5rem !important;
    padding: 2rem 2.5rem;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 30px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-63:active,
.button-63:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-63 {
        font-size: 24px;
        min-width: 196px;
  }
}

@media(max-width: 991px) {
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

.background-container {
    background-color: white;
    position: relative;
    top: 150;
    left: 150;
    width: 100vw;
    height: 100vh;
}

.login-title {
    padding-top: 50px;
    font-size: 200%;
}

.mini-login-title {
    position: absolute;
    top: 28%;
    left: 20.45%;
    transform: translateY(-50%);
    text-align: center;
}

.mini-register-title {
    position: absolute;
    bottom: 90%;
    right: 35%;
    transform: translateY(-50%);
    text-align: center;
}

.login-pgh {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.line-container {
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center elements horizontally */
    align-items: center; /* Center elements vertically (optional) */
    height: 100vh; /* Set container height to full viewport height (optional) */
  }

.line {
    border-bottom: 1px solid #ccc;
    width: 25%;
    margin: 10px auto;
  }
  
.vertical-line {
    border-left: 1px solid #ccc;
    height: 50%;
    width: 0px;
    margin-left: 50%;
    margin-top: 3%;
  }

.login-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);

    background-color: #FFFF;
    border: 1px solid #000;
    padding: 2%;
    box-shadow: 0 0 5px;
    width: 40%;
    max-width: 200;
    border-radius: 20px;
}

.register-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 52%;
    left: 75%;
    transform: translate(-50%, -50%);

    background-color: #FFFF;
    border: 1px solid #000;
    padding: 2%;
    box-shadow: 0 0 5px;
    width: 40%;
    max-width: 200;
    border-radius: 20px;
}

input[type="username"],
input[type="password"] {
  width: 100%;
  overflow: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.input-group input {
    font-size: 1.25rem;
    border: 1px solid black;
}

.input-group input:focus {
    box-shadow: 0 0 0 1px;
}

.input-group .msg {
    display: none;
    font-size: .75rem;
}

.input-group.success input {
    box-shadow: 0 0 0 1px hsl(100, 60%, 50%);
}

.input-group.error input {
    box-shadow: 0 0 0 1px hsl(0, 60%, 50%);

}

.input-group.success .msg,
.input-group.error .msg {
    display: block;
}

.input-group.success .msg {
    color: hsl(100, 60%, 50%);
}

.input-group.error .msg {
    color: hsl(0, 60%, 50%);
}

.login-button {
    padding: .5em 1em;
    font-size: 1.5em;
    font-weight: lighter;
    color: white;
    font-weight: bold;
    background-color: #030334;
    border: none;
    outline: none;
    cursor:pointer
}

.login-button:hover,
.login-button:focus {
    background-color: hsl(248, 62%, 48%);
}

.create-button {
    padding: .5em 1em;
    font-size: 1.5em;
    font-weight: lighter;
    color: white;
    font-weight: bold;
    background-color: #030334;
    border: none;
    outline: none;
    cursor:pointer
}

.create-button:hover,
.create-button:focus {
    background-color: hsl(248, 62%, 48%);
}

.person-bio {
    border-radius: 50%;
    max-width: 80%;
    max-height: 40%;
}


.address-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
  }
  
  .address-container h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .address-container p {
    font-size: 14px;
    color: #555;
  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
  }

  @media (min-width: 200px) {
    .search-container {
      margin-left: 20%;
      margin-right: 20%;
    }
  }
  
  #search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  #search-input::placeholder {
    color: #999;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #0056b3;
  }

.list-header {
    color: white;
    text-align: center;
    font-size: 200%;
}

.list-body-container {
    background-image: url(personal_images/golden_gate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.list-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px auto;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.list-container h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
.list-container p {
    text-align: center;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
  }
  