body {
    background: #030334;
    font-family: "Montserrat", sans-serif !important;
}

.display-1 {
    text-align: center;
    background-image: url(personal_images/in_sf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    font-size: 3.5rem;
    font-weight: bold;
    padding-top: 150;
    padding-bottom: 150;

}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: all 0.15s ease-in-out;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

@media(max-width: 991px) {
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

.background-container {
    background-color: white;
    position: relative;
    top: 150;
    left: 150;
    width: 100vw;
    height: 100vh;
}

.login-title {
    padding-top: 50px;
    font-size: 200%;
}

.login-pgh {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.line-container {
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center elements horizontally */
    align-items: center; /* Center elements vertically (optional) */
    height: 100vh; /* Set container height to full viewport height (optional) */
  }

.line {
    border-bottom: 1px solid #ccc;
    width: 25%;
    margin: 10px auto;
  }
  
.vertical-line {
    border-left: 1px solid #ccc;
    height: 50%;
    width: 0px;
    margin-left: 50%;
    margin-top: 3%;
  }

.login-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);

    background-color: #FFFF;
    border: 1px solid #000;
    padding: 2%;
    box-shadow: 0 0 5px;
    width: 40%;
    max-width: 200;
    border-radius: 20px;
}

.register-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55%;
    left: 75%;
    transform: translate(-50%, -50%);

    background-color: #FFFF;
    border: 1px solid #000;
    padding: 2%;
    box-shadow: 0 0 5px;
    width: 40%;
    max-width: 200;
    border-radius: 20px;
}

input[type="username"],
input[type="password"] {
  width: 100%;
  overflow: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.input-group input {
    font-size: 1.25rem;
    border: 1px solid black;
}

.input-group input:focus {
    box-shadow: 0 0 0 1px;
}

.input-group .msg {
    display: none;
    font-size: .75rem;
}

.input-group.success input {
    box-shadow: 0 0 0 1px hsl(100, 60%, 50%);
}

.input-group.error input {
    box-shadow: 0 0 0 1px hsl(0, 60%, 50%);

}

.input-group.success .msg,
.input-group.error .msg {
    display: block;
}

.input-group.success .msg {
    color: hsl(100, 60%, 50%);
}

.input-group.error .msg {
    color: hsl(0, 60%, 50%);
}

.login-button {
    padding: .5em 1em;
    font-size: 1.5em;
    font-weight: lighter;
    color: white;
    font-weight: bold;
    background-color: #030334;
    border: none;
    outline: none;
    cursor:pointer
}

.login-button:hover,
.login-button:focus {
    background-color: hsl(248, 62%, 48%);
}

.create-button {
    padding: .5em 1em;
    font-size: 1.5em;
    font-weight: lighter;
    color: white;
    font-weight: bold;
    background-color: #030334;
    border: none;
    outline: none;
    cursor:pointer
}

.create-button:hover,
.create-button:focus {
    background-color: hsl(248, 62%, 48%);
}