<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
      body, html {
          height: 100%;
      }

      .background-container {
          display: flex;
          align-items: center;
          height: 100%;
          padding-left: 20px;
      }

      .person-bio {
          max-width: 200px;
          height: auto;
          margin-right: 20px;
      }

      .text-container {
          flex: 1;
      }

      .person-description {
          font-size: 1.1em;
          line-height: 1.5;
          color: #333;
          width: 70%;
          max-width: 400px;
      }
  </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <div class="container">
          <a class="navbar-brand fs-4" href="main.html">EZDock</a>
          <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header text-white border-bottom">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">EZDock</h5>
              <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-1">
              <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link mx-2" aria-current="page" href="main.html">Home</a>
                </li>
                <li class="nav-item mx-2">
                  <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="team.html">Team</a>
                </li>
              </ul>
              <div class="d-flex flex-lg-row flex-column justify-content-center align-items-center gap-3">
                <a href="login.html">{{login_info}}</a>
              </div>
            </div>
          </div>
        </div>
    </nav>
    <div class="background-container">
      <img class="person-bio" src="static/personal_images/matthew.jpg" alt="Matthew">
      <div class="text-container">
          <h3>Matthew Lue</h3>
          <p class="person-description">Hello! My name is Matthew and I am a third year Computer Science major. I am studying at the University of California, Santa Cruz. I decided to participate in SFHacks as it seemed like a great opportunity to meet new people and also have fun building a project with Andrea and Anish. With that being said, I hope you enjoy our product!</p>
      </div>
        <img class="person-bio" src="static/personal_images/andrea2.jpg" alt="Andrea">
        <div class="text-container">
          <h3>Yi-Wen Chen</h3>
          <p class="person-description">I am a third year Network and Digital Technology major in UC Santa Cruz. I am an international student from Taiwan. I worked on the backend and very little on the frontend of this project. I connected the html to the database with Flask. I also help work a little bit on the HTML part. This is a really good experience to get away from school project and just to work on fun project and meet new people.</p>
      </div>
        <img class="person-bio" src="static/personal_images/anish2.jpg" alt="Anish">
        <div class="text-container">
          <h3>Anish Talluri</h3>
          <p class="person-description">Hi there! My name is Anish and I am 2nd-year Computer Science major at UC Santa Cruz. I worked on the front-end for EZDock. Coming to SFHacks has really taught me a lot of skills as a programmer, and I am happy I got to work with a great team and build chemistry to deploy a wonderful project!</p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
